input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 3px inset gray;
  border-radius: 8em;
  font-size: 17.25px;
  background-color: white;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 75%;
  border-color: white;
}

.console-s-input {
  width: inherit;
  height: 20vh;
}
