.navbar {
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 1px 0 0 rgba(0, 11, 38, 0.12);
  position: relative;
  width: 100%;
  background-color: white;
  margin: 0;
}
.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
