* {
  font-family: 'Helvetica Neue', Arial;
}

body {
  margin: 0;
}

#search-console div {
  display:inline-block;
}
.search-list {
  display: block;
}
.search-list-item {
}

.login-page,
.signup-page {
  height: 100vh;
  background: url('./images/buses.jpg') no-repeat;
  background-size: cover;
}

.navigation {
  height: 40px;
  background-color: #3f92b9;
  display: flex;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-box {
  background: #3f92b9;
  padding: 30px 20px;
  color: white;
}
