* {
  font-family: 'Helvetica Neue', Arial;
}

body {
  margin: 0;
}

.search-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.search-list {
  padding: 10px;
  width: 40%;
  background: antiquewhite;
}
.search-result-company {
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
}

.search-list-item {
  padding: 10px 0;
  border-bottom: 1px solid gray;
}
.search-list-item:last-child {
    border: 0;
}

.search-info {
  display: block;
}

.login-page,
.signup-page {
  height: 100vh;
  background: url('./images/buses.jpg') no-repeat;
  background-size: cover;
}

.navigation {
  height: 40px;
  background-color: #3f92b9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-menu-item {
  margin: 5px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-box {
  background: #3f92b9;
  padding: 30px 20px;
  color: white;
}
